@if (!isLoaded) {
  <div class="container loading-spinner">
    <i class="bwi bwi-spinner bwi-spin bwi-3x" aria-hidden="true"></i>
  </div>
} @else {
  <bit-nav-group icon="bwi-vault" [text]="'vault' | i18n" route="new-vault">
    <app-organization-filter
      [activeFilter]="activeFilter()"
      [organizations]="organizations()"
      [activeOrganizationDataOwnership]="activeOrganizationDataOwnershipPolicy"
      [activeSingleOrganizationPolicy]="activeSingleOrganizationPolicy"
    />
    <app-type-filter [activeFilter]="activeFilter()" [cipherTypes]="cipherTypes()" />
    <app-status-filter [hideArchive]="!showArchiveVaultFilter" [activeFilter]="activeFilter()" />
    @if (showCollectionsFilter()) {
      <bit-nav-group
        icon="bwi-collection"
        [text]="'collections' | i18n"
        variant="tree"
        [appA11yTitle]="'collections' | i18n"
        [disableToggleOnClick]="true"
      >
        @for (collection of collections()?.children ?? []; track collection.node.id) {
          <app-collection-filter [activeFilter]="activeFilter()" [collection]="collection" />
        }
      </bit-nav-group>
    }
    <bit-nav-group
      icon="bwi-folder"
      [text]="'folders' | i18n"
      variant="tree"
      [appA11yTitle]="'folders' | i18n"
      [disableToggleOnClick]="true"
    >
      @for (folder of folders()?.children ?? []; track folder.node.id) {
        <app-folder-filter
          [activeFilter]="activeFilter()"
          [folder]="folder"
          (onEditFolder)="editFolder($event)"
        />
      }
    </bit-nav-group>
  </bit-nav-group>
}
