<bit-dialog #dialog dialogSize="large" background="alt">
  <span bitDialogTitle>{{ "generator" | i18n }}</span>
  <ng-container bitDialogContent>
    <tools-credential-generator />
    <bit-item>
      <button
        type="button"
        bit-item-content
        class="tw-font-semibold"
        aria-haspopup="dialog"
        (click)="openHistoryDialog()"
      >
        <span
          class="tw-text-fg-brand hover:tw-text-fg-brand-strong hover:tw-underline hover:tw-decoration-1"
        >
          {{ "generatorHistory" | i18n }}
        </span>
        <i slot="end" class="bwi bwi-angle-right tw-text-fg-brand" aria-hidden="true"></i>
      </button>
    </bit-item>
  </ng-container>
  <ng-container bitDialogFooter>
    <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
