<bit-header [title]="resolvedTitle()" [icon]="icon()">
  <ng-container slot="breadcrumbs">
    <ng-content select="[slot=breadcrumbs]" />
  </ng-container>

  <ng-content />

  <ng-container slot="title-suffix">
    <ng-content select="[slot=title-suffix]" />
  </ng-container>

  <ng-container slot="secondary">
    <ng-content select="[slot=secondary]" />
  </ng-container>

  <ng-container slot="tabs">
    <ng-content select="[slot=tabs]" />
  </ng-container>

  <app-account-switcher-v2 />
</bit-header>
