@if (folder().children.length) {
  <bit-nav-group
    [icon]="folder().node.icon"
    [class.active]="isActive()"
    [text]="displayName()"
    variant="tree"
    [appA11yTitle]="displayName()"
    (click)="applyFilter($event)"
    [forceActiveStyles]="isActive()"
    [disableToggleOnClick]="true"
  >
    @if (folder()?.node.id) {
      <button
        type="button"
        slot="end"
        class="edit-button"
        bitIconButton="bwi-pencil"
        buttonType="nav-contrast"
        size="small"
        [label]="'editFolder' | i18n"
        (click)="editFolder(folder().node)"
      ></button>
    }
    @for (childFolder of folder().children; track childFolder.node.id) {
      <app-folder-filter
        [folder]="childFolder"
        [activeFilter]="activeFilter()"
        (onEditFolder)="editFolder($event)"
      />
    }
  </bit-nav-group>
} @else {
  <bit-nav-item
    [icon]="folder().node.icon"
    [forceActiveStyles]="isActive()"
    [text]="displayName()"
    variant="tree"
    [appA11yTitle]="displayName()"
    (click)="applyFilter($event)"
  >
    @if (folder()?.node.id) {
      <button
        type="button"
        slot="end"
        class="edit-button"
        bitIconButton="bwi-pencil"
        buttonType="nav-contrast"
        size="small"
        [label]="'editFolder' | i18n"
        (click)="editFolder(folder().node)"
      ></button>
    }
  </bit-nav-item>
}
