<bit-nav-group
  icon="bwi-filter"
  (click)="applyAllItemsFilter($event)"
  [text]="'allItems' | i18n"
  [attr.aria-pressed]="activeFilter()?.selectedCipherTypeNode?.node?.id === 'AllItems'"
  [appA11yTitle]="'allItems' | i18n"
  variant="tree"
  [open]="true"
  [forceActiveStyles]="activeFilter()?.selectedCipherTypeNode?.node?.id === 'AllItems'"
  [disableToggleOnClick]="true"
>
  @for (typeFilter of typeFilters$ | async; track typeFilter) {
    <bit-nav-item
      [icon]="typeFilter.node.icon"
      [forceActiveStyles]="
        activeFilter()?.selectedCipherTypeNode.node.type === typeFilter.node.type
      "
      (click)="applyTypeFilter($event, typeFilter)"
      [text]="typeFilter.node.name"
      [attr.aria-pressed]="
        activeFilter()?.selectedCipherTypeNode.node.type === typeFilter.node.type
      "
      [appA11yTitle]="typeFilter.node.name"
    />
  }
</bit-nav-group>
