@let org = organization();

<app-header>
  @if (org) {
    <bit-tab-nav-bar slot="tabs">
      <bit-tab-link route="single-sign-on">{{ "singleSignOn" | i18n }}</bit-tab-link>
      @if (org.useScim || org.useDirectory) {
        <bit-tab-link route="user-provisioning">{{ "userProvisioning" | i18n }}</bit-tab-link>
      }
      @if (org.useEvents) {
        <bit-tab-link route="event-management">{{ "eventManagement" | i18n }}</bit-tab-link>
      }
      <bit-tab-link route="device-management">{{ "deviceManagement" | i18n }}</bit-tab-link>
    </bit-tab-nav-bar>
  }
</app-header>

<router-outlet></router-outlet>
